env:
  global:
  - REPO_DIR=lxml
  - BUILD_COMMIT=34aa8896f99f93a43f3c61fc66beb459ce163acd
  - BUILD_DEPENDS="Cython"
  - TEST_DEPENDS="beautifulsoup4 cssselect html5lib rnc2rng"
  - PLAT=x86_64
  - MB_PYTHON_OSX_VER=10.9
  - UNICODE_WIDTH=32
  - STATIC_DEPS=true
  - WHEELHOUSE_UPLOADER_USERNAME=travis-worker
language: python
python: 3.7
services: docker
matrix:
  exclude:
  - python: 3.5
  include:
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=2.7
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.8
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.7
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.6
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.5
  - os: linux
    env: MB_PYTHON_VERSION=2.7
  - os: linux
    env:
    - MB_PYTHON_VERSION=2.7
    - UNICODE_WIDTH=16
  - os: linux
    env:
    - MB_PYTHON_VERSION=2.7
    - PLAT=i686
  - os: linux
    env:
    - MB_PYTHON_VERSION=2.7
    - PLAT=i686
    - UNICODE_WIDTH=16
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.5
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.5
    - PLAT=i686
  - os: linux
    arch: arm64
    env:
    - MB_PYTHON_VERSION=3.5
    - PLAT=aarch64
    - MB_ML_VER=2014
    - DOCKER_TEST_IMAGE=multibuild/xenial_arm64v8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.6
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.6
    - PLAT=i686
  - os: linux
    arch: arm64
    env:
    - MB_PYTHON_VERSION=3.6
    - PLAT=aarch64
    - MB_ML_VER=2014
    - DOCKER_TEST_IMAGE=multibuild/xenial_arm64v8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.7
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.7
    - PLAT=i686
  - os: linux
    arch: arm64
    env:
    - MB_PYTHON_VERSION=3.7
    - PLAT=aarch64
    - MB_ML_VER=2014
    - DOCKER_TEST_IMAGE=multibuild/xenial_arm64v8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.8
    - PLAT=i686
  - os: linux
    arch: arm64
    env:
    - MB_PYTHON_VERSION=3.8
    - PLAT=aarch64
    - MB_ML_VER=2014
    - DOCKER_TEST_IMAGE=multibuild/xenial_arm64v8

before_install:
- source multibuild/common_utils.sh
- source multibuild/travis_steps.sh
- before_install
install:
- clean_code $REPO_DIR $BUILD_COMMIT
- python propagate_env_vars.py
- build_wheel $REPO_DIR $PLAT
script:
- install_run $PLAT
deploy:
  provider: releases
  api_key:
    secure: SIVAiHieYbQLKkcbARNKH/cp4pGequ/sx0/IIF+adnF9M1+hnbk/MN6Yu503h0WWeQ3v7cy/bKPA9uQjGyoOeVPDfj7tiizFeAj6UIA8xMYpxp3vmi8kqFun6KRoIoMe/8jnw738hocvkw2M2u9qg+zMBf2y4d9o2HuCbh3gRaKcronJBqje6bTBMSU61suywVJG7VEfUIa3rpVmr+x180FoymWWB1+ANT2ufbWOs0xf4QxaAdZ+sRGC8dSPgyiCIQMON+gpg9hT2U9elcdtIUvoaM2prbgXDpxP1B1gtRrpjolcM/w2NOFc/siYoPKhONMTMZnWvP0bCnKTh1V/I6e4SpQPyqkCcNXjE8UNPOtwdBx3updIFLrEbpnBxAWtpnDwcLYUvdEbygC/k8+gKEATv1CNeCiyW+9EzeuxpBf0yGieBeQ4y0bdq9FjhLDkuUiWYeH8b0O7YpTSZLiQ4YrdA1QaVozmAct5k5jjh/Kg8dwBsLIwrrBpCuMMVqX+optAmP2tz5MeVW6hyMlZ/H3axC7uxNKeqngIKRbFNh/xXZvFkLeojTLEgdaDwnuJm+OgY3sfIHdFlhOSIHvmb2t80kcqJkj3sCmM3zcl4CEDYZ8DDlFaHTChi4apO5LRgNHYJyZJ22FB47gqDILzUzhvMrvKEhDGLg3GmUcCo0Q=
  file_glob: true
  file: "${TRAVIS_BUILD_DIR}/wheelhouse/*.whl"
  skip_cleanup: true
  on:
    tags: true
    repo: lxml/lxml-wheels
